@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'media';



.header-top {
  background-color: #31352B;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

  }
  &__item {
    display: flex;
  }
  &__list {
    &:not(:last-child) {
      padding-right: 48px;
    }
  }

  &__link {
    color: #fff;
    display: flex;
    align-items: center;
    transition: opacity 0.4s 0s, box-shadow 0.4s 0s,;
    &:hover {
      opacity: 0.7;
    }
    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 3px #EFF6E7;
      border-radius: 3px;
      outline: transparent;
    }
    &:active {
      color: #E0EDCF;
      box-shadow: none;
      border-radius: none;
    }
  }
  &__link-img {
    padding-right: 12px;
  }

  &__nav-list {
    display: inline;
    &:not(:last-child) {
      padding-right: 54px;
    }
  }

  &__nav-link {
    color: #fff;
    transition: opacity 0.4s 0s, box-shadow 0.4s 0s,;
    &:hover {
      opacity: 0.7;
    }
    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 3px #EFF6E7;
      border-radius: 3px;
      outline: transparent;
    }
    &:active {
      color: #E0EDCF;
      box-shadow: none;
      border-radius: none;
    }
  }
}

.header-nav {
  background-color: $accent;
  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 110px;
    justify-content: space-between;
  }
}

.menu {
  position: relative;

  &__btn {
    background-color: #fff;
    color: $accent;
    @extend %os600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.03em;
    padding: 15px 38px 15px 61px;
    border-radius: 6px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    height: 50px;
    &::before {
      content: "";
      position: absolute;
      background-image: url('..//images/icons/nav_icon_menu.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 25px;
      height: 17px;
      top: 16px;
      left: 18px;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url('..//images/icons/nav_icon_menu_arrows.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 7px;
      height: 4px;
      top: 23px;
      right: 19px;
    }
    &:hover {
      background-color: #E0EDCF;
      transition: background-color 0.4s 0s;
    }
    &--active {
      border-radius: 6px 6px 0px 0px;
      background-color: #E0EDCF;
      &::after {
        content: "";
        position: absolute;
        background-image: url('..//images/icons/nav_icon_menu_arrows.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 7px;
        height: 4px;
        top: 23px;
        right: 19px;
        transform: rotate(180deg);
        transition: transform 0.4s 0s;
      }
    }
  }
  &__item-list {
    display: none;
  }

  &__item-list--active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    min-width: 240px;
    border-radius: 0px 0px 6px 6px;
    border: 1px solid #EBEBEB;
    z-index: 30;
  }

  &__list {
    &:hover {
      display: block;
      border-left: 3px solid $accent;
      margin-left: -1px;
      color: $accent;
    }
    &:active {
      border-left: none;
      margin-left: 2px;
    }
  }

  &__list-link {
    display: block;
    padding: 15px 0 15px 24px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #000000;
    @extend %os400;
    &:hover {
      margin-left: -2px;
      color: $accent;
    }
    &:focus {
      box-shadow: 0px 0px 0px 3px #E0EDCF;
      outline: transparent;
    }
    &:active {
      box-shadow: none;
      color: #C1C1C1;
    }
  }
}

.form-serch {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  &::after {
    content: "";
    position: absolute;
    background-image: url('..//images/icons/icon-serch.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    top: 16px;
    left: 13px;
  }
  &__input {
    padding: 14px 172px 14px 51px;
    box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.2);
    border-radius: 6px 0 0 6px;
    outline: transparent;
    &::placeholder {
      @extend %os400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.03em;
      color: #31352B;
    }

  }
  &__btn {
    background-color: #31352B;
    color: #fff;
    padding: 15px 50px;
    border-radius: 0 6px 6px 0;
    font-size: 14px;
    letter-spacing: 0.03em;
    transition: all 0.4s;
    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }
    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.user-nav {
  &__link {
    position: relative;
    &:not(:last-child) {
      padding-right: 31px;
    }
  }
  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    color: #CF3E3B;
    border-radius: 50%;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    top: -20px;
    left: -8px;
  }
}

.header-slider {
  position: relative;
  margin-bottom: -24px;
  &__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 142px 0;
  }
  &__item--one {
    background-image: url('..//images/header-slider/bg-slider-1.jpg');
  }
  &__item--two {
    background-image: url('..//images/header-slider/bg-slider-2.jpg');
  }
  &__item--three {
    background-image: url('..//images/header-slider/bg-slider-3.jpg');
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 24px 15px 24px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 130%;
    color: #505050;
    @extend %ruda900;
    padding-bottom: 12px;
  }
  &__title-sale {
    display: block;
    color: #CF3E3B;
  }
  &__subtitle {
    @extend %os400;
    font-size: 16px;
    line-height: 140%;
    color: #505050;
    padding-bottom: 32px;
  }
  &__link {
    display: block;
    width: 185px;
    height: 47px;
    padding: 12px 24px;
    background-color: $accent;
    border-radius: 6px;
    font-size: 18px;
    line-height: 130%;
    @extend %os400;
    letter-spacing: 0.03em;
    color: #fff;
    transition: all 0.4s;
    &:hover {
      background-color: #4D810C;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
      outline: transparent;
    }
    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }

  // Скрываем нижний скролл на слайде !ВАЖНО!
  .slick-list {
    overflow: hidden;
  }

  // Включаем чтобы слайды появились! ВАЖНО!
  .slick-track{
    display: flex;
  }

  // Позиционируем стрелки
  .slick-arrow {
    position: absolute;
    top: 45%;
    font-size: 0;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center;
    &:focus {
      box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
      border-radius: 6px;
      outline: transparent;
    }
    &:hover {
      background-color: #E0EDCF;
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: none;
    }
  }

  // Стили для стрелок когда слайд заканчивается
  // .slick-arrow.slick-disabled {

  // }

  // Стрелка слева
  .slick-arrow.slick-prev {
    left: 3%;
    background-image: url('..//images/header-slider/arrow-prev.svg');
    &.slick-disabled {
      background-image: url('..//images/header-slider/arrow-prev-disabled.svg');
    }
    &:hover {
      background-image: url('..//images/header-slider/arrow-prev-hover.svg');
    }
    &:active {
      background-image: url('..//images/header-slider/arrow-prev-hover.svg');
    }
  }
  // Стрелка справа
  .slick-arrow.slick-next {
    right: 3%;
    background-image: url('..//images/header-slider/arrow-next.svg');
    &.slick-disabled {
      background-image: url('..//images/header-slider/arrow-prev-disabled.svg');
      transform: rotate(180deg);
    }
    &:hover {
      background-image: url('..//images/header-slider/arrow-prev-hover.svg');
      transform: rotate(180deg);
    }
    &:active {
      background-image: url('..//images/header-slider/arrow-prev-hover.svg');
      transform: rotate(180deg);
    }
  }

      // Точки. Выравнивание точек
      .slick-dots{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 40px;
        right: 50%;
     }
   
     // Убираем стандарные стили для точек которые лишки
     .slick-dots li{
       list-style: none;
       margin: 0 6px;
     }
   
     // Меняем цвет, размер, бордер точкам
     .slick-dots li button{
       font-size: 0;
       width: 20px;
       height: 20px;
       background-color: #FFFFFF;
       border: 1px solid #C1C1C1;
       border-radius: 50%;
     }
   
     // Меняем цвет в активных точках
     .slick-dots li.slick-active button {
       background-color: $accent;
       border: none;
     }
}

.footer {
  background-color: #31352B;
  padding: 30px 0;

  &__logo-link {
    display: inline-block;
    margin-bottom: 30px;
    outline: transparent;
    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 3px #EFF6E7;
      border-radius: 3px;
      outline: transparent;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__content *{
    outline: transparent;
    &:focus {
      box-shadow: 0px 0px 0px 3px #EFF6E7;
      border-radius: 3px;
      outline: transparent;
    }
  }
  &__nav-social {
    display: flex;
    margin-left: -6px;
  }
  &__subscribe-text {
    font-size: 14px;
    line-height: 100%;
    color: #fff;
    @extend %os400;
    margin-bottom: 18px;
  }
  &__form-input {
    width: 180px;
    min-height: 40px;
    padding-left: 12px;
    border-radius: 6px 0px 0px 6px;
    &::placeholder {
      @extend %os400;
      font-size: 14px;
      line-height: 100%;
      color: #4F4F4F;
    }
  }
  &__form-btn {
    @extend %os600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 0px 6px 6px 0px;
    padding: 0 17px;
    background-color: #63A60E;
    height: 40px;
    color: #fff;
    margin-left: -4px;
    transition: all 0.4s;
    &:hover {
      background-color: #4D810C;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
      outline: transparent;
    }
    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &__nav-list {
    &:not(:last-child) {
      padding-bottom: 18px;
    }
  }
  &__nav-link {
    @extend %os400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    transition: all 0.4s;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      color: #E0EDCF;
      box-shadow: none;
      border-radius: none;
    }
  }
  &__nav-adress {
    @extend %os400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }
  &__nav-link-text {
    @extend %os400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }
  &__nav-list-social {
    padding: 3px 6px;
  }
  &__nav-link-social {
    display: flex;
    align-items: center;
    transition: all 0.4s;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      path {
        fill: #E0EDCF;
      }
      box-shadow: none;
    }
  }
  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  &__bottom-copyright {
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    @extend %os400;
  }
  &__bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
  }
  &__bottom-cards {
    display: flex;
  }
  &__bottom-card {
    &:not(:last-child) {
      padding-right: 24px;
    }
  }
}

.proof {
  background-color: #F6F6F6;
  padding: 48px 0 34px;
  &__inner {
    display: flex;
    justify-content: space-evenly;
  }
  &__item {
    padding-left: 74px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  &__item--delivery {
    &::before {
      background-image: url('..//images/proof/delivery.svg');
    }
  }
  &__item--return {
    &::before {
      background-image: url('..//images/proof/return.svg');
    }
  }
  &__item--support {
    &::before {
      background-image: url('..//images/proof/support.svg');
    }
  }
  &__title {
    color: #121212;
    padding-bottom: 7px;
  }
  &__text {
    @extend %os400;
    font-weight: 400;
    font-size: 14px;
    color: #505050;
  }
}


