@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'media';



.header-top {
  background-color: #31352B;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

  }
  &__item {
    display: flex;
  }
  &__list {
    &:not(:last-child) {
      padding-right: 48px;
    }
  }

  &__link {
    color: #fff;
    display: flex;
    align-items: center;
    transition: opacity 0.4s 0s, box-shadow 0.4s 0s,;
    &:hover {
      opacity: 0.7;
    }
    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 3px #EFF6E7;
      border-radius: 3px;
      outline: transparent;
    }
    &:active {
      color: #E0EDCF;
      box-shadow: none;
      border-radius: none;
    }
  }
  &__link-img {
    padding-right: 12px;
  }

  &__nav-list {
    display: inline;
    &:not(:last-child) {
      padding-right: 54px;
    }
  }

  &__nav-link {
    color: #fff;
    transition: opacity 0.4s 0s, box-shadow 0.4s 0s,;
    &:hover {
      opacity: 0.7;
    }
    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 3px #EFF6E7;
      border-radius: 3px;
      outline: transparent;
    }
    &:active {
      color: #E0EDCF;
      box-shadow: none;
      border-radius: none;
    }
  }
}

.header-nav {
  background-color: $accent;
  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 110px;
    justify-content: space-between;
  }
}

.menu {
  position: relative;

  &__btn {
    background-color: #fff;
    color: $accent;
    @extend %os600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.03em;
    padding: 15px 38px 15px 61px;
    border-radius: 6px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    height: 50px;
    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/icons/nav_icon_menu.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 25px;
      height: 17px;
      top: 16px;
      left: 18px;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/icons/nav_icon_menu_arrows.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 7px;
      height: 4px;
      top: 23px;
      right: 19px;
    }
    &:hover {
      background-color: #E0EDCF;
      transition: background-color 0.4s 0s;
    }
    &--active {
      border-radius: 6px 6px 0px 0px;
      background-color: #E0EDCF;
      &::after {
        content: "";
        position: absolute;
        background-image: url('../images/icons/nav_icon_menu_arrows.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 7px;
        height: 4px;
        top: 23px;
        right: 19px;
        transform: rotate(180deg);
        transition: transform 0.4s 0s;
      }
    }
  }
  &__item-list {
    display: none;
  }

  &__item-list--active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    min-width: 240px;
    border-radius: 0px 0px 6px 6px;
    border: 1px solid #EBEBEB;
    z-index: 30;
  }

  &__list {
    &:hover {
      display: block;
      border-left: 3px solid $accent;
      margin-left: -1px;
      color: $accent;
    }
    &:active {
      border-left: none;
      margin-left: 2px;
    }
  }

  &__list-link {
    display: block;
    padding: 15px 0 15px 24px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #000000;
    @extend %os400;
    &:hover {
      margin-left: -2px;
      color: $accent;
    }
    &:focus {
      box-shadow: 0px 0px 0px 3px #E0EDCF;
      outline: transparent;
    }
    &:active {
      box-shadow: none;
      color: #C1C1C1;
    }
  }
}

.form-serch {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  &::after {
    content: "";
    position: absolute;
    background-image: url('../images/icons/icon-serch.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    top: 16px;
    left: 13px;
  }
  &__input {
    padding: 14px 172px 14px 51px;
    box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.2);
    border-radius: 6px 0 0 6px;
    outline: transparent;
    &::placeholder {
      @extend %os400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.03em;
      color: #31352B;
    }

  }
  &__btn {
    background-color: #31352B;
    color: #fff;
    padding: 15px 50px;
    border-radius: 0 6px 6px 0;
    font-size: 14px;
    letter-spacing: 0.03em;
    transition: all 0.4s;
    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }
    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.user-nav {
  &__link {
    position: relative;
    &:not(:last-child) {
      padding-right: 31px;
    }
  }
  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    color: #CF3E3B;
    border-radius: 50%;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    top: -20px;
    left: -8px;
  }
}


.card {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 90;
  width: 475px;
  transform: translateY(-100%);
  transition: all 0.4s;

  &__top {
    min-width: 475px;
    padding: 19px 26px 12px 24px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @extend %os400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #000000;
    padding-bottom: 12px;
  }

  &__clear {
    @extend %os300;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #000000;
    background-color: #fff;
    padding: 0;
  }

  &__close-btn {
    width: 24px;
    height: 24px;
    background: url('../images/icons/close-btn.svg') center/cover no-repeat;
  }

  &__added {
    padding: 13px 12px;
    background-color: #F6F6F6;
    height: 705px;
    overflow-y: auto;
  }

  // .card__added-inner

  &__added-inner {
    display: flex;
    justify-content: space-between;
    padding: 9px 12px 10px 0;
    min-width: 84px;
    background-color: #fff;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
    min-width: 85px;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__added-content {
    display: flex;
    align-items: center;
  }

  &__added-content-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  &__added-content-info {
    padding-left: 15px;
    max-width: 170px;
  }

  &__added-content-info-text-link {
    font-size: 14px;
    line-height: 140%;
    color: #121212;
    letter-spacing: 0.03em;
  }


  &__added-content-info-price {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #505050;
    padding-top: 5px;
  }

  // .card__added-fuction

  &__added-fuction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .card__added-fuction-btn-del

  &__added-fuction-btn-del {
    align-self: flex-end;
    width: 12px;
    height: 12px;
    background: url('../images/icons/close-btm-small.svg') right center/cover no-repeat;
  }

  // .card__added-fuction-item

  &__added-fuction-item {
    display: flex;
    align-items: center;
  }

  // .card__added-fuction-btn-sum

  &__added-fuction-btn-sum {
    padding: 0 12px;
  }

  // .card__added-fuction-btn-plus

  &__added-fuction-btn-plus {
    background: url('../images/icons/btn-plus.svg') center/16px 16px no-repeat;
    width: 24px;
    height: 24px;
    background-color: #63A60E;
    margin-left: -5px;
    border-radius: 0 4px 4px 0;
  }

  // .card__added-fuction-btn-num

  &__added-fuction-btn-num {
    width: 32px;
    height: 24px;
    background: rgba(99, 166, 14, 0.1);
    text-align: center;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #505050;
    outline: transparent;
  }

  // .card__added-fuction-btn-minus

  &__added-fuction-btn-minus {
    background: url('../images/icons/btn-minus.svg') center/16px 16px no-repeat;
    width: 24px;
    height: 24px;
    background-color: #63A60E;
    margin-right: -5px;
    border-radius: 4px 0px 0px 4px;
  }

  // .card__added-fuction-all-price

  &__added-fuction-all-price {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #505050;
  }

		// .card__check

		&__check {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      padding: 24px;
		}

		// .card__check-text

		&__check-text {
      font-size: 24px;
      line-height: 120%;
      letter-spacing: 0.03em;
      color: #000000;
      @extend %os400;
		}

		// .card__check-sum

		&__check-sum {
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0.03em;
      color: #505050;
		}

		// .card__btn

		&__btn {
      width: 100%;
      padding: 23px;
      background-color: #63A60E;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      @extend %os400;
		}
}

.card--active {
  transition: all 0.4s;
  transform: translateY(0);
}

.header-slider {
  position: relative;
  margin-bottom: -24px;
  &__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 142px 0;
  }
  &__item--one {
    background-image: url('../images/header-slider/bg-slider-1.jpg');
  }
  &__item--two {
    background-image: url('../images/header-slider/bg-slider-2.jpg');
  }
  &__item--three {
    background-image: url('../images/header-slider/bg-slider-3.jpg');
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 24px 15px 24px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 130%;
    color: #505050;
    @extend %ruda900;
    padding-bottom: 12px;
  }
  &__title-sale {
    display: block;
    color: #CF3E3B;
  }
  &__subtitle {
    @extend %os400;
    font-size: 16px;
    line-height: 140%;
    color: #505050;
    padding-bottom: 32px;
  }
  &__link {
    display: block;
    width: 185px;
    height: 47px;
    padding: 12px 24px;
    background-color: $accent;
    border-radius: 6px;
    font-size: 18px;
    line-height: 130%;
    @extend %os400;
    letter-spacing: 0.03em;
    color: #fff;
    transition: all 0.4s;
    &:hover {
      background-color: #4D810C;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
      outline: transparent;
    }
    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }

  // Скрываем нижний скролл на слайде !ВАЖНО!
  .slick-list {
    overflow: hidden;
  }

  // Включаем чтобы слайды появились! ВАЖНО!
  .slick-track{
    display: flex;
  }

  // Позиционируем стрелки
  .slick-arrow {
    position: absolute;
    top: 45%;
    font-size: 0;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center;
    &:focus {
      box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
      border-radius: 6px;
      outline: transparent;
    }
    &:hover {
      background-color: #E0EDCF;
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: none;
    }
  }

  // Стрелка слева
  .slick-arrow.slick-prev {
    left: 3%;
    background-image: url('../images/header-slider/arrow-prev.svg');
    &:hover {
      background-image: url('../images/header-slider/arrow-prev-hover.svg');
    }
    &:active {
      background-image: url('../images/header-slider/arrow-prev-hover.svg');
    }
    &.slick-disabled {
      background-image: url('../images/header-slider/arrow-prev-disabled.svg');
    }
  }
  // Стрелка справа
  .slick-arrow.slick-next {
    right: 3%;
    background-image: url('../images/header-slider/arrow-next.svg');
    &:hover {
      background-image: url('../images/header-slider/arrow-prev-hover.svg');
      transform: rotate(180deg);
    }
    &:active {
      background-image: url('../images/header-slider/arrow-prev-hover.svg');
      transform: rotate(180deg);
    }
    &.slick-disabled {
      background-image: url('../images/header-slider/arrow-prev-disabled.svg');
      transform: rotate(180deg);
    }
  }

    // Стили для стрелок когда слайд заканчивается
    .slick-arrow.slick-disabled {
      &:focus {
        box-shadow: none;
        border-radius: none;
        outline: transparent;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }
      &:active {
        background-color: none;
        box-shadow: none;
      }
    }

      // Точки. Выравнивание точек
      .slick-dots{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 40px;
        right: 50%;
     }
   
     // Убираем стандарные стили для точек которые лишки
     .slick-dots li{
       list-style: none;
       margin: 0 6px;
     }
   
     // Меняем цвет, размер, бордер точкам
     .slick-dots li button{
       font-size: 0;
       width: 20px;
       height: 20px;
       background-color: #FFFFFF;
       border: 1px solid #C1C1C1;
       border-radius: 50%;
     }
   
     // Меняем цвет в активных точках
     .slick-dots li.slick-active button {
       background-color: $accent;
       border: none;
     }
}

.footer {
  background-color: #31352B;
  padding: 30px 0;

  &__logo-link {
    display: inline-block;
    margin-bottom: 30px;
    outline: transparent;
    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 3px #EFF6E7;
      border-radius: 3px;
      outline: transparent;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__content *{
    outline: transparent;
    &:focus {
      box-shadow: 0px 0px 0px 3px #EFF6E7;
      border-radius: 3px;
      outline: transparent;
    }
  }
  &__nav-social {
    display: flex;
    margin-left: -6px;
  }
  &__subscribe-text {
    font-size: 14px;
    line-height: 100%;
    color: #fff;
    @extend %os400;
    margin-bottom: 18px;
  }
  &__form-input {
    width: 180px;
    min-height: 40px;
    padding-left: 12px;
    border-radius: 6px 0px 0px 6px;
    &::placeholder {
      @extend %os400;
      font-size: 14px;
      line-height: 100%;
      color: #4F4F4F;
    }
  }
  &__form-btn {
    @extend %os600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 0px 6px 6px 0px;
    padding: 0 17px;
    background-color: #63A60E;
    height: 40px;
    color: #fff;
    margin-left: -4px;
    transition: all 0.4s;
    &:hover {
      background-color: #4D810C;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
      outline: transparent;
    }
    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &__nav-list {
    &:not(:last-child) {
      padding-bottom: 18px;
    }
  }
  &__nav-link {
    @extend %os400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    transition: all 0.4s;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      color: #E0EDCF;
      box-shadow: none;
      border-radius: none;
    }
  }
  &__nav-adress-link {
    @extend %os400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }
  &__nav-link-text {
    @extend %os400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }
  &__nav-list-social {
    padding: 3px 6px;
  }
  &__nav-link-social {
    display: flex;
    align-items: center;
    transition: all 0.4s;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      path {
        fill: #E0EDCF;
      }
      box-shadow: none;
    }
  }
  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  &__bottom-copyright {
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    @extend %os400;
  }
  &__bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
  }
  &__bottom-cards {
    display: flex;
  }
  &__bottom-card {
    &:not(:last-child) {
      padding-right: 24px;
    }
  }
}

.proof {
  background-color: #F6F6F6;
  padding: 48px 0 34px;
  &__inner {
    display: flex;
    justify-content: space-evenly;
  }
  &__item {
    padding-left: 74px;
  }
  &__item--delivery {
    background: url('../images/proof/delivery.svg') 0 0/50px 50px no-repeat;
  }
  &__item--return {
    background: url('../images/proof/return.svg') 0 0/50px 50px no-repeat;
  }
  &__item--support {
    background: url('../images/proof/support.svg') 0 0/50px 50px no-repeat;
  }
  &__title {
    color: #121212;
    padding-bottom: 7px;
  }
  &__text {
    @extend %os400;
    font-weight: 400;
    font-size: 14px;
    color: #505050;
  }
}

.product {
  padding: 72px 0;

  &__title {
    padding-bottom: 30px;
    text-align: center;
  }
  &__nav-list {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }
  &__nav-list *{
    outline: transparent;
    &:focus {
      box-shadow: 0px 0px 0px 3px #EFF6E7;
      border-radius: 3px;
      outline: transparent;
    }
  }
  &__nav-item {
    &:not(:last-child) {
      padding-right: 24px;
    }
  }
  &__nav-link {
    padding: 0 2px 3px 2px;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #505050;
    transition: color 0.4s 0s;
    &:hover {
      color: $accent;
    }
    &:active {
      border-bottom: 3px solid #E0EDCF;
      box-shadow: none;
      border-radius: 0;
    }
  }
  &__nav-link--active {
    border-bottom: 3px solid #E0EDCF;
  }
}

.product-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 48px;
  & *{
    outline: transparent;
    &:focus {
      box-shadow: 0px 0px 0px 3px #EFF6E7;
      border-radius: 3px;
      outline: transparent;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 409px;

    background-color: #fff;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    transition: all 0.1s;
    &:hover {
      border: 1px solid #63A60E;
    }
   }
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 0 12px;
    position: relative;
  }
  &__badge-new,
  &__badge-sale,
  &__badge-hit {
    border-radius: 6px;
    padding: 3px 6px;
    color: #fff;
    @extend %os800;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__badge-new {
    background-color: $accent;
  }
  &__badge-sale {
    display: inline-block;
    background-color: #CF3E3B;
  }
  &__badge-hit {
    display: inline-block;
    background-color: #FF7A00;
  }
  &__like {
    margin-top: 5px;
    z-index: 2;
    &:hover {
      path {
        fill: #FFB800;
        transition: all 0.3s;
      }
    }
    &:active {
      path {
        fill: rgba(255, 184, 0, 0.5);
        transition: all 0.3s;
      }
      box-shadow: none;
    }
  }
  &__img-box {
    position: relative;
    &:hover {
      &::after {
        content: '';
        background: url('../images/catalog/serch-hover.svg') 50% 50%/20px 20px no-repeat;
        position: absolute;
        border-radius: 50%;
        background-color: #fff;
        width: 48px;
        height: 48px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &:focus {
      box-shadow: none;
      border-radius: none;
      outline: transparent;
    }
  }
  &__img {
    position: relative;
    width: 300px;
    height: 225px;
    object-fit: cover;
    object-position: center;
}
  &__text {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #121212;
    padding: 18px 18px 10px 18px;
    flex: 1 1 auto;
  }
  &__bottom {
    padding: 0 18px 18px 18px;
    display: flex;
    justify-content: space-between;
  }
  &__bottom-prices {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  &__bottom-old-price {
    @extend %os400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #C1C1C1;
    padding-bottom: 5px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 35%;
      left: 0;
      width: 45px;
      height: 0.7px;
      background-color: #C1C1C1;
      transform: rotate(-14.99deg);
    }
  }
  &__bottom-price {
    @extend %os400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #505050;
  }
  &__bottom-cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #63A60E;
    border-radius: 3px;
  }
  &__btn-more {
    display: block;
    padding: 12px 24px;
    letter-spacing: 0.03em;
    color: $accent;
    font-size: 18px;
    line-height: 130%;
    @extend %os400;
    background-color: transparent;
    border: 1px solid #63A60E;
    border-radius: 6px;
    margin: 18px auto 0 auto;
    transition: all 0.4s;
    &:hover {
      background-color: #EFF6E7;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
      border-radius: 6px;
    }
    &:active {
      box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.product-catalog__item {
  grid-template-columns: 1fr 1fr 1fr;
}

.product-promo {
  &__inner {
    padding-top: 72px;
    display: flex;
    gap: 30px;
  }
  &__item {
    padding: 76px 32px;
    border-radius: 6px;
    text-transform: uppercase;
  }
  &__item--fruit {
    width: 630px;
    background: url(../images/catalog-promo/fruit.jpg) center/cover no-repeat; 
  }
  &__item--vegitable {
    width: 300px;
    background: url(../images/catalog-promo/vegitable.jpg) center/cover no-repeat; 
  }
  &__item--bread {
    width: 300px;
    background: url(../images/catalog-promo/bread.jpg) center/cover no-repeat; 
  }
  &__text {
    @extend %os800;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.1em;
    padding-bottom: 18px;
    color: #505050;
  }
  &__text--fruit {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
  }
  &__title {
    font-size: 30px;
    line-height: 140%;
    @extend %ruda600;
    padding-bottom: 12px;
    color: #505050;
  }
  &__title--fruit {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
  }
  &__link {
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 100%;
    color: #505050;
    border-bottom: 2px solid #505050;
  }
  &__link--fruit {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    border-bottom: 2px solid #fff;
  }
}

.discounts {
  padding: 72px 0;
  background-color: #F5F5F5;
  &__title {
    text-align: center;
    padding-bottom: 32px;
  }
  &__nav {
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
  }
  &__nav-item {
    &:not(:last-child) {
      padding-right: 30px;
    }
  }
  &__nav-link {
    padding: 0 2px 3px 2px;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #505050;
    transition: color 0.4s 0s;
    &:hover {
      color: $accent;
    }
    &:active {
      border-bottom: 3px solid #E0EDCF;
      box-shadow: none;
      border-radius: 0;
    }
  }
  &__nav-link--active {
    border-bottom: 3px solid #E0EDCF;
  }
}

.discounts-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 48px;
  &__badge-new,
  &__badge-hit {
    border-radius: 6px;
    padding: 3px 6px;
    color: #fff;
    @extend %os800;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
  &__badge-new {
    background-color: $accent;
  }
  &__badge-hit {
    background-color: #FF7A00;
  }
  &__box-link {
    display: flex;
    width: 300px;
    height: 124px;
    background-color: #fff;
    padding: 12px;
    border: 1px solid #C1C1C1;
    border-radius: 6px;
    position: relative;
    transition: all 0.4s;
    &:hover {
      border: 1px solid #63A60E;
    }
  }
  &__badge-new,
  &__badge-hit {
    position: absolute;
  }
  &__img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    width: 100%;
  }
  &__text {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #121212;
    flex: 1 1 auto;
  }
  &__available,
  &__ends,
  &__not-available {
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.03em;
    padding-bottom: 1px;

  }
  &__available {
    color: $accent;
  }
  &__ends {
    color: #CF3E3B;
  }
  &__not-available {
    color: #C1C1C1;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__bottom-prices {
    display: flex;
  }
  &__bottom-price {
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #505050;
    line-height: 100%;
    align-self: flex-end;
    padding-right: 10px;

  }
  &__bottom-old-price {
    @extend %os400;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #C1C1C1;
    line-height: 100%;
    position: relative;
    align-self: flex-end;
    &::after {
      content: '';
      position: absolute;
      top: 35%;
      left: 0;
      width: 32px;
      height: 1px;
      background-color: #C1C1C1;
      transform: rotate(-14.99deg);
    }
  }
  &__bottom-mark-nam {
    background: url(../images/icons/star.svg) right center/16px 16px no-repeat; 
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #505050;
    line-height: 100%;
    padding-right: 18px;
  }
  &__btn {
    display: block;
    background-color: $accent;
    border-radius: 6px;
    padding: 12px 24px;
    @extend %os400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: all 0.3s;
    margin: 0 auto;
    &:hover {
      background-color: #4D810C;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px #E0EDCF;
      outline: transparent;
    }
    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.news {
  padding: 72px 0;
  &__brand {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 72px;
  }
  &__brand-img {
    width: 80px;
    height: 59px;
    opacity: 0.5;
    transition: opacity 0.4s 0s;
    object-fit: contain;
    object-position: center;
    &:hover {
      opacity: 1;
    }
  }
}
.our-news {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }
  &__top-link {
    padding-bottom: 2px;
    font-size: 14px;
    line-height: 130%;
    color: #63A60E;
    border-bottom: 2px solid $accent;
    transition: all 0.4s;
    &:hover {
      color: #4D800C;
    }
    &:focus {
      outline: transparent;
      background: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 3px #E0EDCF;
      border-radius: 3px;
      border-bottom: 2px solid transparent;
    }
    &:active {
      border-bottom: 2px solid #E0EDCF;
      background: none;
      box-shadow: none;
      border-radius: 0;
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  &__item {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }
  &__date-wrap {
    min-height: 240px;
    border-radius: 6px 6px 0 0;
  }
  &__date-wrap--fruit {
    background: url(../images/news/bg/strawberry.jpg) center/cover no-repeat; 
  }
  &__date-wrap--mango {
    background: url(../images/news/bg/mango.jpg) center/cover no-repeat; 
  }
  &__date-wrap--papaya {
    background: url(../images/news/bg/papaya.jpg) center/cover no-repeat; 
  }
  &__date {
    display: inline-block;
    text-align: center;
    padding-left: 20px;
  }
  &__month {
    padding: 18px 15px 4px 15px;
    background-color: #fff;
    @extend %os800;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #121212;
    line-height: 14px;
  }
  &__day {
    padding: 0 15px 10px 15px;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    font-size: 30px;
    line-height: 30px;
    color: #121212;
    @extend %ruda600;
  }
  &__text {
    min-height: 108px;
    padding: 18px;
    font-size: 16px;
    line-height: 150%;
    color: #121212;
    transition: color 0.3s 0s;
    &:hover {
      color: #63A60E;
    }
  }
}

.catalog {
  padding: 48px 0 72px 0;  
  &__title {
    padding-bottom: 48px;
    @extend %ruda700;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #121212;
  }
  &__inner {
    display: flex;
    column-gap: 30px;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  min-width: 300px;
  // .filters__item

  &__box {
    border: 1px solid #C1C1C1;
    border-radius: 6px;
  }

  // .filters__top

  &__top {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #C1C1C1;
  }

  // .filters__title

  &__title {
    @extend %ruda400;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #121212;
  }

  // .filters__btn-turn

  &__btn-turn {
    padding: 20px;
    background-image: url('..//images/icons/arrow-turn-expand.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    transition: all 0.4s;
  }

  &__btn-turn--active {
    transform: rotate(180deg);
  }

  // .filters__list

  &__item {
    display: none;
    padding: 18px;
    max-height: 300px;
    overflow-y: auto; 
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color: #fff;
    }
    &::-webkit-scrollbar-thumb {
      background: #C4C4C4;
      border-radius: 3px;
    }
  }
  &__item--active {
    display: block;
  }

  // .filters__list-item

  &__list-item {
    &:not(:last-child) {
      padding-bottom: 12px;
    }
  }

  // .filters__link

  &__link {
    @extend %os400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #505050;
  }

  // Начало стилей чекбоксов
  &__label {
    display: block;
    padding-left: 36px;
    cursor: pointer;
    position: relative;
  }
  
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked + .filters__checkbox {
      background-image: url('../images/icons/check.svg');
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid #363853;
    }
  }
  &__checkbox {
    width: 24px;
    height: 24px;
    top: -2px;
    left: 0;
    position: absolute;
    background: #F6F6F6;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
  }
  &__text {
    @extend %os400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #505050;
  }
  // Конец стилей чекбоксов

  &__inputs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
  }
  &__inputs-text,
  &__inputs-symbol {
    text-transform: uppercase;
    @extend %ruda400;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #C1C1C1;
  }
  &__inputs-input {
    width: 80px;
    height: 40px;
    background-color: #F6F6F6;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
    text-align: center;
    @extend %os400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #505050;
  }
  &__sliders {
    padding: 0 18px;
  }
  &__sliders-line-bg {
    width: 100%;
    height: 2px;
    background-color: #C4C4C4;
    margin-bottom: 30px;
  }
  &__sliders-line-after {
    background-color: #63A60E;
    width: 100%;
    height: 2px;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $accent;
      top: -8px;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}

.catalog-product {
  width: 100%;
  &__bottom {
    display: flex;
    justify-content: space-between;
    line-height: 0;
  }
  &__btn-more {
    padding: 12px 24px;
    background-color: #63A60E;
    color: #fff;
    border-radius: 6px;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    @extend %os400;
  }
}
.filter-product {
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
  margin-bottom: 48px;
  &__select-sort {
    outline: transparent;
    padding: 9px 16px 15px 11px;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #505050;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
  }
  &__select-sort-num {
    padding: 9px 26px 15px 11px;
  }
  &__filter-btn {
    width: 47px;
    height: 47px;
    background-color: #F6F6F6;
    border-radius: 3px;
    line-height: 0;
  }
  &__filter-btn--active {
    path {
      fill: #63A60E;
    }
  }
}

.pagination {
  display: flex;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #F6F6F6;
    border-radius: 3px;
    &:not(:last-child) {
      margin-right: 6px;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #505050;
    @extend %os400;
  }
  &__link-btn--disable {
    path {
      fill: #C1C1C1;
    }
  }
}









